.container{
    width: 1280px;
    margin: auto;
}

.logo {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 94px;
<<<<<<< HEAD
color: #000000;
}

.logo1 {
    color: #4BCAFF  
=======
color: black;
}

.logo1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    color: aqua;
    
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
}

.nav-menu{
    display: flex;
    border: 1px solid transparent;
<<<<<<< HEAD
    justify-content: center;
=======
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
}
.nav-item {
    list-style: none;
}

.navbar-link{
display: block;
border-left: 1px solid white;
<<<<<<< HEAD
padding-left: 60px;
padding-right: 60px;
padding-top: 25px;
padding-bottom: 20px;
=======
height: 61px;
padding-left: 60px;
padding-right: 60px;
padding-top: 15px;

>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
}

<<<<<<< HEAD
.navbar-link:last-child
{
    border-right: 1px solid white;
}

.navbar {
    background-color: #35444F;
}
   
.aside-box {
    border: 1px solid gray;
    width: 250px;
    margin-top: 50px;
=======
.top-box{
   background-color: rgb(63, 62, 62);
}
.aside-box {
    border: 1px solid gray;
    width: 250px;
    
    margin-top: 50px;   
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
    float: left;
}

.aside-item {
    display: flex;
    list-style: none;
<<<<<<< HEAD
=======
    
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
}

.aside-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
align-items: center;
color: #485863;
padding-bottom: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
.main-box {
display: flex;
float: right;
width: 885px;
height: 529px;
left: 0px;
top: 0px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
margin-top: 50px;
<<<<<<< HEAD
margin-bottom: 40px;
=======
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96

}
.main-image {
    margin-right: auto;
    margin-left: auto;
<<<<<<< HEAD
    margin-top: auto;  
    margin-bottom: auto;
}

.main-text-box  {
display: flex;
width: 885px;
=======
    margin-top: 70px;
    margin-bottom: 70px;
}
.main-text-box  {
    display: block;
width: 885px;
height: 120px;
left: 0px;
top: 566px;
border: 1px solid transparent;
float:right;
margin-top: 30px;
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
<<<<<<< HEAD
color: #2C2C2C;
margin-left: auto;

}

.main-text {
display: flex;
width: 885px;
margin-top: 30px;
margin-bottom: 50px;
=======
align-items: center;

color: #2C2C2C;
}
.main-text {
display: block;
width: 885px;
height: 120px;
left: 0px;
top: 720px;
border: 1px solid transparent;
float:right;
margin-top: 30px;
margin-bottom: 50px;

>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
<<<<<<< HEAD
color: #2C2C2C;
margin-left: auto;
}


.footer-box {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    width: 1280px; 
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
=======
align-items: center;
color: #2C2C2C;
}
.footer-box {
    display: flex;
   margin-top: 50px;
    background-color: rgba(99, 105, 110, 0.48);;
    width: 1280px;
height: 69px;
margin-top: 50px;

>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
}

.footer-menu{
    display: flex;
<<<<<<< HEAD
   
=======
    
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
}

.footer-item, .footer-text {
    list-style: none;
}
<<<<<<< HEAD


.footer-link {
font-family: 'Roboto';
=======
.footer-link {
    display: block;
    font-family: 'Roboto';
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
align-items: center;
color: #0C1927;
<<<<<<< HEAD
padding-left: 20px;

}


.footer-text {
font-family: 'Roboto';
=======
padding-right: 30px;
padding-top: 5px;


}
.footer-text {
    font-family: 'Roboto';
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
align-items: center;
color: #0C1927;
<<<<<<< HEAD
margin-left: 135px;
margin: auto;



=======
padding-left: 30px;
margin-left: 50px;
padding-top: 5px;
>>>>>>> dab0976fc3cf38a8a8a4aff43df484a658a85a96
}

a.footer-link:hover {
    color: blue;
    text-decoration-line: underline;
}

a.navbar-link:hover {
    background-color: rgb(15, 13, 13);
}
a.aside-link:hover {
   background-color: gray;
   transition: 0.7s;
  
  

}